/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  border-width: 1px;
  background: #eee
}

.header {
  background: #f00;
  color: #fff;
  /*border-bottom: solid 1px #aaa;*/
  text: white;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-nav {
  width: 900px;
  margin: 0 auto;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
}
