/* PHASE 3: Content */

.content {
  background: #fff;
  margin: 0 auto;
  border: 1px solid  #ccc;
  width: 900px
}

.content-sidebar {
  width: 220px;
  float: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

.content-main {
  width: 620px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.content h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content p {
  font-weight: 700px;
}
