/* PHASE 4: Footer */

.footer {
  background: #fff;
  width: 860px;
  margin: 0 auto;
  color: #aaa;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  font-size: 14px;
}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
  padding-left: 20px;
}

.footer a {

}

.footer a:hover {
  color: black;
}
